@{
    ViewData["Title"] = "myPOI";
    ViewData["Desc"] = "OUILLON/TABARD";
    var urls = new List<string>
    {
        "http://localhost:5000/Home/Index",
        "http://localhost:5000/Home/About",
        "http://localhost:5000/Home/Contact"
    };
}

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/home/index</small></h1>
        <p>Bienvenue sur notre application gérant quelques points d'intérêts de la ville de Toulon</p>
        <p>Pour consulter la carte interactive, cliquez sur <a href="http://localhost:5000/Map">la carte</a></p>
    </div>
</div>