@using Isen.DotNet.Library.Models.Implementation;
@{
    ViewData["Title"] = "Poi (détail)";
}
@model PointInteret

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/city/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Detail">
            <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Name" class="control-label">Nom dun point d'intérêts :</label>
                <input type="text" class="form-control"
                    id="Name" placeholder="Nom de la ville"
                    value="@Model?.Nom" asp-for="Nom" />
            </div>

            <div>
                <label for="Name" class="control-label">Descriptif :</label>
                <input type="text" class="form-control"
                    id="Descriptif" placeholder="Descriptif"
                    value="@Model?.Descriptif" asp-for="Descriptif" />
            </div>

            <div>
                <label for="Name" class="control-label">Categorie :</label>
                <input type="text" class="form-control"
                    id="Categorie" placeholder="Categorie"
                    value="@Model?.Categorie?.Nom" asp-for="Categorie" />
            </div>

            <div>
                <label for="Name" class="control-label">Adresse :</label>
                <input type="text" class="form-control"
                    id="Adresse" placeholder="Adresse"
                    value="@Model?.Adresse?.Nom" asp-for="Adresse" />
            </div>
            
            <br />
            <input type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
                asp-controller="PointInteret" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>