@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Web.Models;
@{
    ViewData["Title"] = "Poi (détail)";
}
@model PointInteret

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/poi/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Ajout">
            <input type="hidden" value="@Model?.Id" asp-for="Id" />
            <div>
                <label for="Name" class="control-label">Nom d'un point d'intérêts :</label>
                <input type="text" class="form-control"
                    id="Name" placeholder="Définissez un nom"
                    value="@Model?.Name" asp-for="Name" />
            </div>

            <div>
                <label for="Descriptif" class="control-label">Descriptif :</label>
                <input type="text" class="form-control"
                    id="Descriptif" placeholder="Descriptif"
                    value="@Model?.Descriptif" asp-for="Descriptif" />
            </div>

            <div>
                @await Component.InvokeAsync("AdresseForm", new { adresse = @Model?.Adresse, communes = ViewBag.Communes })
            </div>
            <div>
                <label for="Categorie" class="control-label">Categorie :</label>

                <select class="form-control"
                    id="Categorie" placeholder="Categorie"
                    value="@Model?.Categorie"
                    name="Categorie">
                    @if (ViewBag.Categories != null)
                    {
                        @foreach (Categorie categorie in ViewBag.Categories)
                        {
                            <option value="@categorie?.Id">@categorie?.Nom</option>
                        }
                    }
                </select>
            </div>


            <br />
            <input type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
                asp-controller="PointInteret" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>