@using Isen.DotNet.Library.Models.Implementation;
@using Isen.DotNet.Web.Models;
@{
    ViewData["title"] = "Adresse";
}
@model Adresse

<div class="row">
    <div class="col-md-12">
        <h1>Home <small>/adresse/detail</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" asp-action="Ajout">
            <div>
                @await Component.InvokeAsync("AdresseForm", new { adresse = @Model, communes = ViewBag.Communes })
            </div>
            <br />
            <input type="submit" class="btn btn-primary" value="Valider" />
            <a class="btn btn-default" 
                asp-controller="Adresse" asp-action="Index">Annuler</a>
        </form>
    </div>
</div>